<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders Bucket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  </head>
  <style>
    th {
      font-size: 24px;
    }
  </style>
  <body>
    <%- include('../partials/_navbar') %>

    <div class="container mt-5">
      <h1 class="text-center mb-4">Orders Bucket</h1>

      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <thead class="thead-light">
            <tr>
              <th>Username</th>
              <th>Total Amount</th>
              <th>Shipping Address</th>
              <th>Payment Method</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(el => { %>
            <tr>
              <td><%= el.User.username %></td>
              <td><%= toRupiah(el.totalAmount) %></td>
              <td><%= el.shippingAddress %></td>
              <td><%= el.paymentMethod %></td>
              <td><%= el.status %></td>
              <td>
                <% if (role === 'admin') { %> <% if (el.isPaid) { %>
                <a href="http://localhost:3000/orders/confirmed/<%= el.uniqueKey %>" class="btn btn-success">Confirmed</a>
                <% } %>
                <a href="http://localhost:3000/orders/delete/<%= el.uniqueKey %>" class="btn btn-danger">Deleted</a>
                <% } %> <% if (role === 'user') { %>
                <a href="http://localhost:3000/orders/paid/<%= el.uniqueKey %>" class="btn btn-primary">Paid</a>
                <a href="http://localhost:3000/orders/invoice/<%= el.uniqueKey %>" class="btn btn-info">Get Invoice</a>
                <% } %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
    </div><br>
    <% if (invoice) { %>
        <div><img src="invoice.jpeg" alt=""></div>     
    <% } %>
</body>
</html>